.MainLayout {
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    background-color: rgba(82, 88, 136, 1);
    height: 755px;
}
.youtubeLayout {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: 100%;
    max-width: 900px;
    height: 100%;
    overflow: hidden;
    align-items: center;
    border-radius: 10px;
}
.mbtiName {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 25px;
}
.mbtiName div:nth-child(1) {
    display: flex;
    flex: 1;
}
.youtubeBox {
    margin-top: 23vh;
    width: 60vw;
}
.mbtiCounter {
    font-weight: bold;
    height: 10vh;
}
.answerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.2rem;
    box-sizing: border-box;
    background-color: #fff;
    color: rgba(110, 110, 110, 1);
    border: 1px solid gray;
    border-radius: 6px;
    border-color: #d0d0d0;
    font-weight: 600;
    font-size: 20px;
}
.answerBtn:active {
    color: #fff;
    background-color: #fd4d4d;
    transform: scale(0.95);
    transition: 100ms;
    border: none;
}
